{
  "openapi": "3.0.3",
  "info": {
    "title": "1KOMMA5° Heartbeat API (unofficial)",
    "version": "observed-2026-10-02",
    "description": "Reverse-engineered from 1KOMMA5° iOS app traffic with tools/heartbeat_openapi.py. Schemas are inferred from observed requests and contain no captured values. Enums list observed values, so others may exist. Operations not seen in the latest dump are kept; see x-last-seen.",
    "x-app-version": "1.83.0"
  },
  "servers": [
    {
      "url": "https://heartbeat.1komma5grad.com"
    }
  ],
  "security": [
    {
      "auth0": [
        "openid",
        "profile",
        "email",
        "offline_access"
      ]
    }
  ],
  "components": {
    "securitySchemes": {
      "auth0": {
        "type": "oauth2",
        "description": "Auth0 authorization code flow with PKCE, audience https://1komma5grad.com/api. Send the access token as Bearer token.",
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "https://auth.1komma5grad.com/authorize",
            "tokenUrl": "https://auth.1komma5grad.com/oauth/token",
            "refreshUrl": "https://auth.1komma5grad.com/oauth/token",
            "scopes": {
              "openid": "OpenID",
              "profile": "Profile",
              "email": "Email",
              "offline_access": "Refresh token"
            }
          }
        }
      }
    }
  },
  "paths": {
    "/api/v1/content/blog-posts": {
      "get": {
        "tags": [
          "content"
        ],
        "operationId": "getV1ContentBlogPosts",
        "summary": "GET /api/v1/content/blog-posts",
        "parameters": [
          {
            "name": "appCategory",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "count",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "language",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "title": {
                        "type": "string"
                      },
                      "intro": {
                        "type": "string"
                      },
                      "headerImageUrl": {
                        "type": "string"
                      },
                      "headerImageAlt": {
                        "type": "string"
                      },
                      "content": {
                        "type": "string"
                      },
                      "publishedDate": {
                        "type": "string"
                      },
                      "author": {
                        "type": "string"
                      },
                      "previewContent": {
                        "type": "string"
                      },
                      "previewImageUrl": {
                        "type": "string"
                      },
                      "previewImageAlt": {
                        "type": "string"
                      },
                      "readingTimeMin": {
                        "type": "string"
                      },
                      "category": {
                        "type": "string"
                      },
                      "appCategory": {
                        "type": "string"
                      }
                    },
                    "required": [
                      "appCategory",
                      "author",
                      "category",
                      "content",
                      "headerImageAlt",
                      "headerImageUrl",
                      "id",
                      "intro",
                      "previewContent",
                      "previewImageAlt",
                      "previewImageUrl",
                      "publishedDate",
                      "readingTimeMin",
                      "title"
                    ]
                  }
                }
              }
            }
          }
        },
        "x-last-seen": "2026-10-02"
      }
    },
    "/api/v1/content/faqs/grouped": {
      "get": {
        "tags": [
          "content"
        ],
        "operationId": "getV1ContentFaqsGrouped",
        "summary": "GET /api/v1/content/faqs/grouped",
        "parameters": [
          {
            "name": "excludeTags",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "language",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tags",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "version",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "heading": {
                        "type": "string"
                      },
                      "slug": {
                        "type": "string"
                      },
                      "faqs": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string"
                            },
                            "question": {
                              "type": "string"
                            },
                            "answer": {
                              "type": "string"
                            },
                            "tags": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            },
                            "fullSlug": {
                              "type": "string"
                            }
                          },
                          "required": [
                            "answer",
                            "fullSlug",
                            "id",
                            "question",
                            "tags"
                          ]
                        }
                      }
                    },
                    "required": [
                      "faqs",
                      "heading",
                      "slug"
                    ]
                  }
                }
              }
            }
          }
        },
        "x-last-seen": "2026-10-02"
      }
    },
    "/api/v1/content/support-modals/add-device": {
      "get": {
        "tags": [
          "content"
        ],
        "operationId": "getV1ContentSupportModalsAddDevice",
        "summary": "GET /api/v1/content/support-modals/add-device",
        "parameters": [
          {
            "name": "language",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "304": {
            "description": "Not Modified (ETag matched)"
          }
        },
        "x-last-seen": "2026-10-02"
      }
    },
    "/api/v1/heartbeat-ai/optimizations": {
      "get": {
        "tags": [
          "heartbeat-ai"
        ],
        "operationId": "getV1HeartbeatAiOptimizations",
        "summary": "GET /api/v1/heartbeat-ai/optimizations",
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "siteId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "view",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "events": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "format": "uuid"
                          },
                          "timestamp": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "data": {
                            "type": "object",
                            "properties": {
                              "decision": {
                                "type": "string",
                                "enum": [
                                  "BATTERY_CHARGE_FROM_GRID",
                                  "BATTERY_NO_DISCHARGE",
                                  "HEATPUMP_AUTO"
                                ]
                              },
                              "from": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "to": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "asset": {
                                "type": "string",
                                "enum": [
                                  "BATTERY",
                                  "HEATPUMP"
                                ]
                              },
                              "marketPrice": {
                                "type": "object",
                                "properties": {
                                  "value": {
                                    "type": "number"
                                  },
                                  "currency": {
                                    "type": "string",
                                    "enum": [
                                      "EUR"
                                    ]
                                  }
                                },
                                "required": [
                                  "currency",
                                  "value"
                                ]
                              },
                              "energySold": {
                                "nullable": true
                              },
                              "energyBought": {
                                "nullable": true
                              },
                              "totalCost": {
                                "nullable": true
                              },
                              "stateOfCharge": {
                                "type": "integer"
                              },
                              "log": {
                                "type": "array",
                                "items": {
                                  "type": "string",
                                  "format": "date-time"
                                }
                              }
                            },
                            "required": [
                              "asset",
                              "decision",
                              "from",
                              "marketPrice",
                              "stateOfCharge",
                              "to"
                            ]
                          }
                        },
                        "required": [
                          "data",
                          "id",
                          "timestamp"
                        ]
                      }
                    }
                  },
                  "required": [
                    "events"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "401",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error_code": {
                      "type": "integer"
                    },
                    "correlation_id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "correlation_id",
                    "error_code",
                    "message"
                  ]
                }
              }
            }
          }
        },
        "x-last-seen": "2026-10-02"
      }
    },
    "/api/v1/installers/{installerId}": {
      "get": {
        "tags": [
          "installers"
        ],
        "operationId": "getV1InstallersByInstallerId",
        "summary": "GET /api/v1/installers/{installerId}",
        "parameters": [
          {
            "name": "installerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "createdAt": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "updatedAt": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "name": {
                      "type": "string"
                    },
                    "description": {
                      "type": "string"
                    },
                    "email": {
                      "type": "string"
                    },
                    "phone": {
                      "type": "string"
                    },
                    "logoUrl": {
                      "nullable": true
                    },
                    "crmBranchLocations": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "addressLine1": {
                      "type": "string"
                    },
                    "addressLine2": {
                      "type": "string"
                    },
                    "addressZipCode": {
                      "type": "string"
                    },
                    "addressCity": {
                      "type": "string"
                    },
                    "addressCountry": {
                      "type": "string"
                    },
                    "auth0OrganizationId": {
                      "type": "string"
                    },
                    "gridxAccountId": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "numberOfProvisioningJobs": {
                      "type": "integer"
                    },
                    "numberOfSystems": {
                      "type": "integer"
                    },
                    "numberOfMembers": {
                      "type": "integer"
                    },
                    "numberOfInvitations": {
                      "type": "integer"
                    }
                  },
                  "required": [
                    "addressCity",
                    "addressCountry",
                    "addressLine1",
                    "addressLine2",
                    "addressZipCode",
                    "auth0OrganizationId",
                    "createdAt",
                    "crmBranchLocations",
                    "description",
                    "email",
                    "gridxAccountId",
                    "id",
                    "name",
                    "numberOfInvitations",
                    "numberOfMembers",
                    "numberOfProvisioningJobs",
                    "numberOfSystems",
                    "phone",
                    "updatedAt"
                  ]
                }
              }
            }
          }
        },
        "x-last-seen": "2026-10-02"
      }
    },
    "/api/v1/price-guarantee": {
      "get": {
        "tags": [
          "price-guarantee"
        ],
        "operationId": "getV1PriceGuarantee",
        "summary": "GET /api/v1/price-guarantee",
        "parameters": [
          {
            "name": "siteId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "priceGuarantee": {
                      "type": "object",
                      "properties": {
                        "value": {
                          "type": "integer"
                        },
                        "unit": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "unit",
                        "value"
                      ]
                    }
                  },
                  "required": [
                    "priceGuarantee"
                  ]
                }
              }
            }
          },
          "304": {
            "description": "Not Modified (ETag matched)"
          }
        },
        "x-last-seen": "2026-10-02"
      }
    },
    "/api/v1/referrals/share": {
      "post": {
        "tags": [
          "referrals"
        ],
        "operationId": "postV1ReferralsShare",
        "summary": "POST /api/v1/referrals/share",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "sourceUserId": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "name": {
                    "type": "string"
                  },
                  "systemId": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "sharedContent": {
                    "type": "object",
                    "properties": {
                      "sharingType": {
                        "type": "string"
                      },
                      "heartbeatPrice": {
                        "type": "object",
                        "properties": {
                          "value": {
                            "type": "number"
                          },
                          "unit": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "unit",
                          "value"
                        ]
                      },
                      "dateRange": {
                        "type": "object",
                        "properties": {
                          "startDate": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "endDate": {
                            "type": "string",
                            "format": "date-time"
                          }
                        },
                        "required": [
                          "endDate",
                          "startDate"
                        ]
                      }
                    },
                    "required": [
                      "sharingType"
                    ]
                  },
                  "includeReferralCode": {
                    "type": "boolean"
                  }
                },
                "required": [
                  "includeReferralCode",
                  "name",
                  "sharedContent",
                  "sourceUserId",
                  "systemId"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "sharingAndReferralLink": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "sharingAndReferralLink"
                  ]
                }
              }
            }
          }
        },
        "x-last-seen": "2026-10-02"
      }
    },
    "/api/v1/setup-questionnaire/sites/{siteId}": {
      "get": {
        "tags": [
          "setup-questionnaire"
        ],
        "operationId": "getV1SetupQuestionnaireSitesBySiteId",
        "summary": "GET /api/v1/setup-questionnaire/sites/{siteId}",
        "parameters": [
          {
            "name": "siteId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "createdAt": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "updatedAt": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "siteId": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "customerId": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "isRetrofitCustomer": {
                      "type": "boolean"
                    },
                    "lastAnsweredAt": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "answers": {
                      "type": "object",
                      "properties": {
                        "pvInformation": {
                          "nullable": true
                        },
                        "householdMembers": {
                          "type": "object",
                          "properties": {
                            "members": {
                              "type": "integer"
                            }
                          },
                          "required": [
                            "members"
                          ]
                        },
                        "additionalHardware": {
                          "type": "object",
                          "properties": {
                            "pv": {
                              "type": "boolean"
                            },
                            "battery": {
                              "type": "boolean"
                            },
                            "wallbox": {
                              "type": "boolean"
                            }
                          },
                          "required": [
                            "battery",
                            "pv",
                            "wallbox"
                          ]
                        },
                        "heating": {
                          "type": "object",
                          "properties": {
                            "heatingType": {
                              "type": "array",
                              "items": {
                                "type": "string",
                                "enum": [
                                  "HEAT_PUMP"
                                ]
                              }
                            },
                            "planningChange": {
                              "type": "boolean"
                            }
                          },
                          "required": [
                            "heatingType",
                            "planningChange"
                          ]
                        },
                        "futurePlans": {
                          "nullable": true
                        },
                        "tariffInformation": {
                          "nullable": true
                        },
                        "swedenTariffInformation": {
                          "nullable": true
                        },
                        "swedenGridFees": {
                          "nullable": true
                        },
                        "swedenPeakShaving": {
                          "nullable": true
                        }
                      },
                      "required": [
                        "additionalHardware",
                        "heating",
                        "householdMembers"
                      ]
                    }
                  },
                  "required": [
                    "answers",
                    "createdAt",
                    "customerId",
                    "id",
                    "isRetrofitCustomer",
                    "lastAnsweredAt",
                    "siteId",
                    "updatedAt"
                  ]
                }
              }
            }
          },
          "304": {
            "description": "Not Modified (ETag matched)"
          },
          "401": {
            "description": "401",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error_code": {
                      "type": "integer"
                    },
                    "correlation_id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "correlation_id",
                    "error_code",
                    "message"
                  ]
                }
              }
            }
          }
        },
        "x-last-seen": "2026-10-02"
      }
    },
    "/api/v1/setup-questionnaire/sites/{siteId}/segmentation": {
      "get": {
        "tags": [
          "setup-questionnaire"
        ],
        "operationId": "getV1SetupQuestionnaireSitesBySiteIdSegmentation",
        "summary": "GET /api/v1/setup-questionnaire/sites/{siteId}/segmentation",
        "parameters": [
          {
            "name": "siteId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "gridSupplyTariffType": {
                      "nullable": true
                    },
                    "gridFeesEnabled": {
                      "nullable": true
                    },
                    "peakShavingEnabled": {
                      "nullable": true
                    },
                    "peakShavingMode": {
                      "nullable": true
                    }
                  }
                }
              }
            }
          },
          "304": {
            "description": "Not Modified (ETag matched)"
          }
        },
        "x-last-seen": "2026-10-02"
      }
    },
    "/api/v1/sites/{siteId}/assets/evs/displayed-ev-charging-modes": {
      "get": {
        "tags": [
          "sites"
        ],
        "operationId": "getV1SitesBySiteIdAssetsEvsDisplayedEvChargingModes",
        "summary": "GET /api/v1/sites/{siteId}/assets/evs/displayed-ev-charging-modes",
        "parameters": [
          {
            "name": "siteId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "displayedEvChargingModes": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "enum": [
                              "QUICK_CHARGE",
                              "SMART_CHARGE",
                              "SOLAR_CHARGE"
                            ]
                          },
                          "disabled": {
                            "type": "boolean"
                          }
                        },
                        "required": [
                          "disabled",
                          "type"
                        ]
                      }
                    },
                    "emsMode": {
                      "type": "string",
                      "enum": [
                        "TOU"
                      ]
                    }
                  },
                  "required": [
                    "displayedEvChargingModes",
                    "emsMode"
                  ]
                }
              }
            }
          },
          "304": {
            "description": "Not Modified (ETag matched)"
          }
        },
        "x-last-seen": "2026-10-02"
      }
    },
    "/api/v1/sites/{siteId}/ev-charging-sessions/active": {
      "get": {
        "tags": [
          "sites"
        ],
        "operationId": "getV1SitesBySiteIdEvChargingSessionsActive",
        "summary": "GET /api/v1/sites/{siteId}/ev-charging-sessions/active",
        "parameters": [
          {
            "name": "siteId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "sessions": {
                      "type": "array",
                      "items": {}
                    }
                  },
                  "required": [
                    "sessions"
                  ]
                }
              }
            }
          },
          "304": {
            "description": "Not Modified (ETag matched)"
          }
        },
        "x-last-seen": "2026-10-02"
      }
    },
    "/api/v1/sites/{siteId}/onboardings": {
      "get": {
        "tags": [
          "sites"
        ],
        "operationId": "getV1SitesBySiteIdOnboardings",
        "summary": "GET /api/v1/sites/{siteId}/onboardings",
        "parameters": [
          {
            "name": "siteId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {}
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "304": {
            "description": "Not Modified (ETag matched)"
          }
        },
        "x-last-seen": "2026-10-02"
      }
    },
    "/api/v1/sites/{siteId}/onboardings/eligibility": {
      "get": {
        "tags": [
          "sites"
        ],
        "operationId": "getV1SitesBySiteIdOnboardingsEligibility",
        "summary": "GET /api/v1/sites/{siteId}/onboardings/eligibility",
        "parameters": [
          {
            "name": "siteId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "SELF_PROVISIONING": {
                      "type": "object",
                      "properties": {
                        "eligible": {
                          "type": "boolean"
                        },
                        "reason": {
                          "type": "string",
                          "enum": [
                            "NO_ONBOARDING"
                          ]
                        },
                        "startedAt": {
                          "nullable": true
                        },
                        "completedAt": {
                          "nullable": true
                        }
                      },
                      "required": [
                        "eligible",
                        "reason"
                      ]
                    },
                    "SELF_MIGRATION": {
                      "type": "object",
                      "properties": {
                        "eligible": {
                          "type": "boolean"
                        },
                        "reason": {
                          "type": "string",
                          "enum": [
                            "NO_ONBOARDING"
                          ]
                        },
                        "startedAt": {
                          "nullable": true
                        },
                        "completedAt": {
                          "nullable": true
                        }
                      },
                      "required": [
                        "eligible",
                        "reason"
                      ]
                    }
                  },
                  "required": [
                    "SELF_MIGRATION",
                    "SELF_PROVISIONING"
                  ]
                }
              }
            }
          },
          "304": {
            "description": "Not Modified (ETag matched)"
          },
          "401": {
            "description": "401",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error_code": {
                      "type": "integer"
                    },
                    "correlation_id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "correlation_id",
                    "error_code",
                    "message"
                  ]
                }
              }
            }
          }
        },
        "x-last-seen": "2026-10-02"
      }
    },
    "/api/v1/sites/{siteId}/referral-overview": {
      "get": {
        "tags": [
          "sites"
        ],
        "operationId": "getV1SitesBySiteIdReferralOverview",
        "summary": "GET /api/v1/sites/{siteId}/referral-overview",
        "parameters": [
          {
            "name": "siteId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "referrer": {
                      "type": "object",
                      "properties": {
                        "customerId": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "referredByContactId": {
                          "nullable": true
                        }
                      },
                      "required": [
                        "customerId"
                      ]
                    },
                    "tier": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "referralsInTier": {
                          "type": "integer"
                        },
                        "referralsToNextTier": {
                          "type": "integer"
                        },
                        "nextTierPayoutPerReferral": {
                          "type": "object",
                          "properties": {
                            "value": {
                              "type": "integer"
                            },
                            "currency": {
                              "type": "string",
                              "enum": [
                                "EUR"
                              ]
                            }
                          },
                          "required": [
                            "currency",
                            "value"
                          ]
                        },
                        "payoutPerReferral": {
                          "type": "object",
                          "properties": {
                            "value": {
                              "type": "integer"
                            },
                            "currency": {
                              "type": "string",
                              "enum": [
                                "EUR"
                              ]
                            }
                          },
                          "required": [
                            "currency",
                            "value"
                          ]
                        }
                      },
                      "required": [
                        "id",
                        "nextTierPayoutPerReferral",
                        "payoutPerReferral",
                        "referralsInTier",
                        "referralsToNextTier"
                      ]
                    },
                    "totalEarnings": {
                      "type": "object",
                      "properties": {
                        "value": {
                          "type": "integer"
                        },
                        "currency": {
                          "type": "string",
                          "enum": [
                            "EUR"
                          ]
                        }
                      },
                      "required": [
                        "currency",
                        "value"
                      ]
                    },
                    "referralCode": {
                      "type": "string"
                    },
                    "referrals": {
                      "type": "array",
                      "items": {}
                    }
                  },
                  "required": [
                    "referralCode",
                    "referrals",
                    "referrer",
                    "tier",
                    "totalEarnings"
                  ]
                }
              }
            }
          },
          "304": {
            "description": "Not Modified (ETag matched)"
          }
        },
        "x-last-seen": "2026-10-02"
      }
    },
    "/api/v1/sites/{siteId}/smart-meter": {
      "get": {
        "tags": [
          "sites"
        ],
        "operationId": "getV1SitesBySiteIdSmartMeter",
        "summary": "GET /api/v1/sites/{siteId}/smart-meter",
        "parameters": [
          {
            "name": "siteId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "siteId": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "controlAreaEIC": {
                      "type": "string"
                    },
                    "controlAreaEIC__metadata": {
                      "type": "object",
                      "properties": {
                        "qualityDescription": {
                          "type": "string"
                        },
                        "updatedAt": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "updatedBy": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "qualityDescription",
                        "updatedAt",
                        "updatedBy"
                      ]
                    },
                    "dsoBdewCode": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "validFromDate": {
                            "type": "string",
                            "format": "date"
                          },
                          "validUntilDate": {
                            "type": "string",
                            "format": "date"
                          },
                          "reference": {
                            "type": "string"
                          },
                          "__metadata": {
                            "type": "object",
                            "properties": {
                              "qualityDescription": {
                                "type": "string"
                              },
                              "updatedAt": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "updatedBy": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "qualityDescription",
                              "updatedAt",
                              "updatedBy"
                            ]
                          }
                        },
                        "required": [
                          "__metadata",
                          "reference",
                          "validFromDate",
                          "validUntilDate"
                        ]
                      }
                    },
                    "concessionFeeEURperkWh": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "validFromDate": {
                            "type": "string",
                            "format": "date"
                          },
                          "validUntilDate": {
                            "type": "string",
                            "format": "date"
                          },
                          "value": {
                            "type": "number"
                          },
                          "__metadata": {
                            "type": "object",
                            "properties": {
                              "qualityDescription": {
                                "type": "string"
                              },
                              "updatedAt": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "updatedBy": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "qualityDescription",
                              "updatedAt",
                              "updatedBy"
                            ]
                          }
                        },
                        "required": [
                          "__metadata",
                          "validFromDate",
                          "validUntilDate",
                          "value"
                        ]
                      }
                    }
                  },
                  "required": [
                    "concessionFeeEURperkWh",
                    "controlAreaEIC",
                    "controlAreaEIC__metadata",
                    "dsoBdewCode",
                    "siteId"
                  ]
                }
              }
            }
          },
          "304": {
            "description": "Not Modified (ETag matched)"
          }
        },
        "x-last-seen": "2026-10-02"
      }
    },
    "/api/v1/sites/{siteId}/subscription-eligibility": {
      "get": {
        "tags": [
          "sites"
        ],
        "operationId": "getV1SitesBySiteIdSubscriptionEligibility",
        "summary": "GET /api/v1/sites/{siteId}/subscription-eligibility",
        "parameters": [
          {
            "name": "siteId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "subscriptions": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "enum": [
                              "MAINTENANCE_HEAT_PUMP",
                              "PV_SERVICE"
                            ]
                          },
                          "eligible": {
                            "type": "boolean"
                          },
                          "reason": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "eligible",
                          "reason",
                          "type"
                        ]
                      }
                    }
                  },
                  "required": [
                    "subscriptions"
                  ]
                }
              }
            }
          },
          "304": {
            "description": "Not Modified (ETag matched)"
          }
        },
        "x-last-seen": "2026-10-02"
      }
    },
    "/api/v1/sites/{siteId}/users/{userId}/whats-new/seen-status": {
      "get": {
        "tags": [
          "sites"
        ],
        "operationId": "getV1SitesBySiteIdUsersByUserIdWhatsNewSeenStatus",
        "summary": "GET /api/v1/sites/{siteId}/users/{userId}/whats-new/seen-status",
        "parameters": [
          {
            "name": "siteId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "currentAppVersion",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "featureUpdates": {
                      "type": "object",
                      "properties": {
                        "hasUnseen": {
                          "type": "boolean"
                        },
                        "unseenCount": {
                          "type": "integer"
                        },
                        "lastSeenAt": {
                          "type": "string",
                          "format": "date-time"
                        }
                      },
                      "required": [
                        "hasUnseen",
                        "lastSeenAt",
                        "unseenCount"
                      ]
                    },
                    "hardwareUpdates": {
                      "type": "object",
                      "properties": {
                        "hasUnseen": {
                          "type": "boolean"
                        },
                        "unseenCount": {
                          "type": "integer"
                        },
                        "lastSeenAt": {
                          "type": "string",
                          "format": "date-time"
                        }
                      },
                      "required": [
                        "hasUnseen",
                        "lastSeenAt",
                        "unseenCount"
                      ]
                    },
                    "improvementUpdates": {
                      "type": "object",
                      "properties": {
                        "hasUnseen": {
                          "type": "boolean"
                        },
                        "unseenCount": {
                          "type": "integer"
                        },
                        "lastSeenAt": {
                          "type": "string",
                          "format": "date-time"
                        }
                      },
                      "required": [
                        "hasUnseen",
                        "lastSeenAt",
                        "unseenCount"
                      ]
                    }
                  },
                  "required": [
                    "featureUpdates",
                    "hardwareUpdates",
                    "improvementUpdates"
                  ]
                }
              }
            }
          },
          "304": {
            "description": "Not Modified (ETag matched)"
          }
        },
        "x-last-seen": "2026-10-02"
      }
    },
    "/api/v1/sites/{siteId}/whats-new/summary": {
      "get": {
        "tags": [
          "sites"
        ],
        "operationId": "getV1SitesBySiteIdWhatsNewSummary",
        "summary": "GET /api/v1/sites/{siteId}/whats-new/summary",
        "parameters": [
          {
            "name": "siteId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "currentAppVersion",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "publishedAt": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "createdAt": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "descriptions": {
                      "type": "object",
                      "properties": {
                        "features": {
                          "nullable": true
                        },
                        "hardware": {
                          "nullable": true
                        },
                        "improvements": {
                          "nullable": true
                        }
                      }
                    },
                    "updates": {
                      "type": "object",
                      "properties": {
                        "features": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "publishedAt": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "createdAt": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "label": {
                                "type": "string"
                              },
                              "description": {
                                "type": "string"
                              },
                              "navigationDestination": {
                                "type": "string"
                              },
                              "icon": {
                                "type": "string"
                              },
                              "featureFlagKey": {
                                "type": "string"
                              },
                              "initialAppVersion": {
                                "type": "string"
                              },
                              "type": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "createdAt",
                              "description",
                              "featureFlagKey",
                              "icon",
                              "id",
                              "initialAppVersion",
                              "label",
                              "navigationDestination",
                              "publishedAt",
                              "type"
                            ]
                          }
                        },
                        "hardware": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "publishedAt": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "createdAt": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "label": {
                                "type": "string"
                              },
                              "description": {
                                "type": "string"
                              },
                              "filters": {
                                "type": "object",
                                "properties": {
                                  "empType": {
                                    "nullable": true
                                  },
                                  "assetType": {
                                    "type": "string",
                                    "enum": [
                                      "PV_SYSTEM"
                                    ]
                                  },
                                  "assetManufacturer": {
                                    "type": "string"
                                  }
                                },
                                "required": [
                                  "assetManufacturer",
                                  "assetType"
                                ]
                              },
                              "type": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "createdAt",
                              "description",
                              "filters",
                              "id",
                              "label",
                              "publishedAt",
                              "type"
                            ]
                          }
                        },
                        "improvements": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "publishedAt": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "createdAt": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "label": {
                                "type": "string"
                              },
                              "description": {
                                "type": "string"
                              },
                              "initialAppVersion": {
                                "type": "string"
                              },
                              "type": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "createdAt",
                              "description",
                              "id",
                              "initialAppVersion",
                              "label",
                              "publishedAt",
                              "type"
                            ]
                          }
                        }
                      },
                      "required": [
                        "features",
                        "hardware",
                        "improvements"
                      ]
                    },
                    "image": {
                      "type": "object",
                      "properties": {
                        "mediaUrl": {
                          "type": "string"
                        },
                        "alt": {
                          "type": "string"
                        },
                        "mimeType": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "alt",
                        "mediaUrl",
                        "mimeType"
                      ]
                    }
                  },
                  "required": [
                    "createdAt",
                    "descriptions",
                    "id",
                    "image",
                    "publishedAt",
                    "updates"
                  ]
                }
              }
            }
          },
          "304": {
            "description": "Not Modified (ETag matched)"
          }
        },
        "x-last-seen": "2026-10-02"
      }
    },
    "/api/v1/supported-versions": {
      "get": {
        "tags": [
          "supported-versions"
        ],
        "operationId": "getV1SupportedVersions",
        "summary": "GET /api/v1/supported-versions",
        "responses": {
          "304": {
            "description": "Not Modified (ETag matched)"
          }
        },
        "x-last-seen": "2026-10-02"
      }
    },
    "/api/v1/systems/{systemId}/details": {
      "get": {
        "tags": [
          "systems"
        ],
        "operationId": "getV1SystemsBySystemIdDetails",
        "summary": "GET /api/v1/systems/{systemId}/details",
        "parameters": [
          {
            "name": "systemId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "empType": {
                      "type": "string",
                      "enum": [
                        "GRIDX"
                      ]
                    },
                    "systemName": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "ACTIVE"
                      ]
                    },
                    "addressName": {
                      "nullable": true
                    },
                    "addressLine1": {
                      "type": "string"
                    },
                    "addressLine2": {
                      "nullable": true
                    },
                    "addressZipCode": {
                      "type": "string"
                    },
                    "addressCity": {
                      "type": "string"
                    },
                    "addressCountry": {
                      "type": "string"
                    },
                    "addressLongitude": {
                      "type": "number"
                    },
                    "addressLatitude": {
                      "type": "number"
                    },
                    "technicalContactId": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "customerId": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "dynamicPulseCompatible": {
                      "type": "boolean"
                    },
                    "hasThirdPartySmartMeter": {
                      "nullable": true
                    },
                    "thirdPartySmartMeterMeterId": {
                      "nullable": true
                    },
                    "thirdPartySmartMeterDeletedAt": {
                      "nullable": true
                    },
                    "thirdPartySmartMeterMarketLocationId": {
                      "nullable": true
                    },
                    "updatedAt": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "createdAt": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "technicalContactName": {
                      "type": "string"
                    },
                    "customer": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "firstName": {
                          "type": "string"
                        },
                        "lastName": {
                          "type": "string"
                        },
                        "email": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "email",
                        "firstName",
                        "id",
                        "lastName"
                      ]
                    },
                    "energyTraderActive": {
                      "type": "boolean"
                    },
                    "earliestMeasurement": {
                      "type": "string",
                      "format": "date"
                    },
                    "electricityContractActive": {
                      "type": "boolean"
                    },
                    "deviceGateways": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "format": "uuid"
                          },
                          "gridxStartCode": {
                            "type": "string"
                          },
                          "serialNumber": {
                            "type": "string"
                          },
                          "installationDate": {
                            "type": "string",
                            "format": "date"
                          }
                        },
                        "required": [
                          "gridxStartCode",
                          "id",
                          "installationDate",
                          "serialNumber"
                        ]
                      }
                    },
                    "impactedByEnwg": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "addressCity",
                    "addressCountry",
                    "addressLatitude",
                    "addressLine1",
                    "addressLongitude",
                    "addressZipCode",
                    "createdAt",
                    "customer",
                    "customerId",
                    "deviceGateways",
                    "dynamicPulseCompatible",
                    "earliestMeasurement",
                    "electricityContractActive",
                    "empType",
                    "energyTraderActive",
                    "id",
                    "impactedByEnwg",
                    "status",
                    "systemName",
                    "technicalContactId",
                    "technicalContactName",
                    "updatedAt"
                  ]
                }
              }
            }
          },
          "304": {
            "description": "Not Modified (ETag matched)"
          }
        },
        "x-last-seen": "2026-10-02"
      }
    },
    "/api/v1/systems/{systemId}/devices/ev-chargers": {
      "get": {
        "tags": [
          "systems"
        ],
        "operationId": "getV1SystemsBySystemIdDevicesEvChargers",
        "summary": "GET /api/v1/systems/{systemId}/devices/ev-chargers",
        "parameters": [
          {
            "name": "systemId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "gridxHardwareId": {
                        "type": "string",
                        "format": "uuid"
                      },
                      "name": {
                        "type": "string"
                      },
                      "assignedEvId": {
                        "type": "string",
                        "format": "uuid"
                      }
                    },
                    "required": [
                      "assignedEvId",
                      "gridxHardwareId",
                      "name"
                    ]
                  }
                }
              }
            }
          },
          "304": {
            "description": "Not Modified (ETag matched)"
          }
        },
        "x-last-seen": "2026-10-02"
      }
    },
    "/api/v1/systems/{systemId}/users/{userId}/notifications/settings": {
      "get": {
        "tags": [
          "systems"
        ],
        "operationId": "getV1SystemsBySystemIdUsersByUserIdNotificationsSettings",
        "summary": "GET /api/v1/systems/{systemId}/users/{userId}/notifications/settings",
        "parameters": [
          {
            "name": "systemId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "langCode": {
                      "type": "string"
                    },
                    "settings": {
                      "type": "object",
                      "properties": {
                        "CO2_IMPACT": {
                          "type": "array",
                          "items": {}
                        },
                        "BATTERY_SOC": {
                          "type": "array",
                          "items": {}
                        },
                        "BROADCAST_NEW_ELECTRICITY_PRICES": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "subscriptionId": {
                                "type": "string",
                                "format": "uuid"
                              },
                              "channels": {
                                "type": "object",
                                "properties": {
                                  "app": {
                                    "type": "boolean"
                                  },
                                  "push": {
                                    "type": "boolean"
                                  },
                                  "email": {
                                    "type": "boolean"
                                  }
                                },
                                "required": [
                                  "app",
                                  "email",
                                  "push"
                                ]
                              },
                              "personalizations": {
                                "type": "object",
                                "properties": {}
                              }
                            },
                            "required": [
                              "channels",
                              "personalizations",
                              "subscriptionId"
                            ]
                          }
                        },
                        "SYSTEM_DATA_COLLECTION_ENDED": {
                          "type": "array",
                          "items": {}
                        },
                        "EV_DYNAMIC_PULSE": {
                          "type": "array",
                          "items": {}
                        },
                        "ENERGY_MARKET_UPPER_TARGET_REACHED": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "subscriptionId": {
                                "type": "string",
                                "format": "uuid"
                              },
                              "channels": {
                                "type": "object",
                                "properties": {
                                  "app": {
                                    "type": "boolean"
                                  },
                                  "push": {
                                    "type": "boolean"
                                  },
                                  "email": {
                                    "type": "boolean"
                                  }
                                },
                                "required": [
                                  "app",
                                  "email",
                                  "push"
                                ]
                              },
                              "personalizations": {
                                "type": "object",
                                "properties": {}
                              }
                            },
                            "required": [
                              "channels",
                              "personalizations",
                              "subscriptionId"
                            ]
                          }
                        },
                        "ENERGY_MARKET_LOWER_TARGET_REACHED": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "subscriptionId": {
                                "type": "string",
                                "format": "uuid"
                              },
                              "channels": {
                                "type": "object",
                                "properties": {
                                  "app": {
                                    "type": "boolean"
                                  },
                                  "push": {
                                    "type": "boolean"
                                  },
                                  "email": {
                                    "type": "boolean"
                                  }
                                },
                                "required": [
                                  "app",
                                  "email",
                                  "push"
                                ]
                              },
                              "personalizations": {
                                "type": "object",
                                "properties": {}
                              }
                            },
                            "required": [
                              "channels",
                              "personalizations",
                              "subscriptionId"
                            ]
                          }
                        },
                        "SYSTEM_HEALTH": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "subscriptionId": {
                                "type": "string",
                                "format": "uuid"
                              },
                              "channels": {
                                "type": "object",
                                "properties": {
                                  "app": {
                                    "type": "boolean"
                                  },
                                  "push": {
                                    "type": "boolean"
                                  },
                                  "email": {
                                    "type": "boolean"
                                  }
                                },
                                "required": [
                                  "app",
                                  "email",
                                  "push"
                                ]
                              },
                              "personalizations": {
                                "type": "object",
                                "properties": {}
                              }
                            },
                            "required": [
                              "channels",
                              "personalizations",
                              "subscriptionId"
                            ]
                          }
                        }
                      },
                      "required": [
                        "BATTERY_SOC",
                        "BROADCAST_NEW_ELECTRICITY_PRICES",
                        "CO2_IMPACT",
                        "ENERGY_MARKET_LOWER_TARGET_REACHED",
                        "ENERGY_MARKET_UPPER_TARGET_REACHED",
                        "EV_DYNAMIC_PULSE",
                        "SYSTEM_DATA_COLLECTION_ENDED",
                        "SYSTEM_HEALTH"
                      ]
                    }
                  },
                  "required": [
                    "langCode",
                    "settings"
                  ]
                }
              }
            }
          },
          "304": {
            "description": "Not Modified (ETag matched)"
          }
        },
        "x-last-seen": "2026-10-02"
      }
    },
    "/api/v1/systems/{systemId}/weather": {
      "get": {
        "tags": [
          "systems"
        ],
        "operationId": "getV1SystemsBySystemIdWeather",
        "summary": "GET /api/v1/systems/{systemId}/weather",
        "parameters": [
          {
            "name": "systemId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "fineGrainedForecasts": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "periodStart": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "windSpeed": {
                            "type": "number"
                          },
                          "temperatureCelsius": {
                            "type": "number"
                          },
                          "weatherSymbolId": {
                            "type": "integer"
                          },
                          "sunshineMinutes": {
                            "type": "number"
                          },
                          "precipitationMm": {
                            "type": "number"
                          },
                          "precipitationProbability": {
                            "type": "number"
                          }
                        },
                        "required": [
                          "periodStart",
                          "precipitationMm",
                          "precipitationProbability",
                          "sunshineMinutes",
                          "temperatureCelsius",
                          "weatherSymbolId",
                          "windSpeed"
                        ]
                      }
                    },
                    "today": {
                      "type": "object",
                      "properties": {
                        "temperatureCelsius": {
                          "type": "integer"
                        },
                        "precipitationMm": {
                          "type": "number"
                        },
                        "precipitationProbability": {
                          "type": "number"
                        },
                        "sunshineMinutes": {
                          "type": "number"
                        },
                        "sunrise": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "sunset": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "weatherSymbolId": {
                          "type": "integer"
                        }
                      },
                      "required": [
                        "precipitationMm",
                        "precipitationProbability",
                        "sunrise",
                        "sunset",
                        "sunshineMinutes",
                        "temperatureCelsius",
                        "weatherSymbolId"
                      ]
                    },
                    "tomorrow": {
                      "type": "object",
                      "properties": {
                        "temperatureCelsius": {
                          "type": "number"
                        },
                        "precipitationMm": {
                          "type": "integer"
                        },
                        "precipitationProbability": {
                          "type": "integer"
                        },
                        "sunshineMinutes": {
                          "type": "number"
                        },
                        "sunrise": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "sunset": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "weatherSymbolId": {
                          "type": "integer"
                        }
                      },
                      "required": [
                        "precipitationMm",
                        "precipitationProbability",
                        "sunrise",
                        "sunset",
                        "sunshineMinutes",
                        "temperatureCelsius",
                        "weatherSymbolId"
                      ]
                    }
                  },
                  "required": [
                    "fineGrainedForecasts",
                    "today",
                    "tomorrow"
                  ]
                }
              }
            }
          }
        },
        "x-last-seen": "2026-10-02"
      }
    },
    "/api/v1/users/{userId}/education-hub/modules": {
      "get": {
        "tags": [
          "users"
        ],
        "operationId": "getV1UsersByUserIdEducationHubModules",
        "summary": "GET /api/v1/users/{userId}/education-hub/modules",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "tags",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "explode": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "slug": {
                        "type": "string"
                      },
                      "tags": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      },
                      "name": {
                        "type": "string"
                      },
                      "type": {
                        "type": "string"
                      },
                      "thumbnail": {
                        "type": "object",
                        "properties": {
                          "mediaUrl": {
                            "type": "string"
                          },
                          "alt": {
                            "type": "string"
                          },
                          "mimeType": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "alt",
                          "mediaUrl",
                          "mimeType"
                        ]
                      },
                      "isNew": {
                        "type": "boolean"
                      },
                      "firstPublishedAt": {
                        "type": "string",
                        "format": "date-time"
                      },
                      "lastPublishedAt": {
                        "type": "string",
                        "format": "date-time"
                      },
                      "flows": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string"
                            },
                            "slug": {
                              "type": "string"
                            },
                            "tags": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            },
                            "name": {
                              "type": "string"
                            },
                            "type": {
                              "type": "string"
                            },
                            "isNew": {
                              "type": "boolean"
                            },
                            "thumbnail": {
                              "type": "object",
                              "properties": {
                                "mediaUrl": {
                                  "type": "string"
                                },
                                "alt": {
                                  "type": "string"
                                },
                                "mimeType": {
                                  "type": "string"
                                }
                              },
                              "required": [
                                "alt",
                                "mediaUrl",
                                "mimeType"
                              ]
                            },
                            "firstPublishedAt": {
                              "type": "string",
                              "format": "date-time"
                            },
                            "lastPublishedAt": {
                              "type": "string",
                              "format": "date-time"
                            },
                            "infoSteps": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "string",
                                    "format": "uuid"
                                  },
                                  "title": {
                                    "type": "string"
                                  },
                                  "description": {
                                    "type": "string"
                                  },
                                  "media": {
                                    "type": "object",
                                    "properties": {
                                      "mediaUrl": {
                                        "type": "string"
                                      },
                                      "alt": {
                                        "type": "string"
                                      },
                                      "mimeType": {
                                        "type": "string"
                                      }
                                    },
                                    "required": [
                                      "alt",
                                      "mediaUrl",
                                      "mimeType"
                                    ]
                                  },
                                  "video": {
                                    "type": "object",
                                    "properties": {
                                      "mediaUrl": {
                                        "type": "string"
                                      },
                                      "alt": {
                                        "type": "string"
                                      },
                                      "mimeType": {
                                        "type": "string"
                                      }
                                    },
                                    "nullable": true,
                                    "required": [
                                      "alt",
                                      "mediaUrl",
                                      "mimeType"
                                    ]
                                  },
                                  "mediaFillsFrame": {
                                    "type": "boolean"
                                  }
                                },
                                "required": [
                                  "description",
                                  "id",
                                  "media",
                                  "mediaFillsFrame",
                                  "title"
                                ]
                              }
                            },
                            "quizImage": {
                              "type": "object",
                              "properties": {
                                "mediaUrl": {
                                  "type": "string"
                                },
                                "alt": {
                                  "type": "string"
                                },
                                "mimeType": {
                                  "type": "string"
                                }
                              },
                              "nullable": true,
                              "required": [
                                "alt",
                                "mediaUrl",
                                "mimeType"
                              ]
                            },
                            "quizSteps": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "string",
                                    "format": "uuid"
                                  },
                                  "question": {
                                    "type": "string"
                                  },
                                  "answers": {
                                    "type": "object",
                                    "additionalProperties": {
                                      "type": "string"
                                    }
                                  },
                                  "correctAnswerId": {
                                    "type": "string",
                                    "format": "uuid"
                                  }
                                },
                                "required": [
                                  "answers",
                                  "correctAnswerId",
                                  "id",
                                  "question"
                                ]
                              },
                              "nullable": true
                            },
                            "recommendedModules": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            },
                            "highlight": {
                              "nullable": true
                            },
                            "canContactSupport": {
                              "type": "boolean"
                            },
                            "popularityRank": {
                              "type": "integer"
                            },
                            "isPopular": {
                              "type": "boolean"
                            },
                            "progress": {
                              "type": "number"
                            },
                            "lastCompletedStepId": {
                              "type": "string",
                              "format": "uuid",
                              "nullable": true
                            },
                            "lastVisitedAt": {
                              "type": "string",
                              "format": "date-time",
                              "nullable": true
                            }
                          },
                          "required": [
                            "canContactSupport",
[...]
